*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-background:#131921;
    --color-writing: #fff;
}

body {
	font-family: Arial, sans-serif;
}
.outer-row {
    background: #ffffff;
    -webkit-box-shadow: 4px 0 2px #dad5d5, -4px 0 2px #dad5d5;
            box-shadow: 4px 0 2px #dad5d5, -4px 0 2px #dad5d5;
  }
