@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-10{
  margin-top: 10px;
}

html, body {
  height: 100%;
}
.page{
  background-color: #f4f4f4;
  color: #777777;
}


.outer-row {
  margin: auto;
  max-width: 1140px;
}

body {
    background-color: #f4f4f4;
    line-height: 18px;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    font-family: "Open Sans", sans-serif;
    color: #777777;
    overflow-x: hidden;
}


.outer-row {
  background: #ffffff;
  -webkit-box-shadow: 4px 0 2px #dad5d5, -4px 0 2px #dad5d5;
          box-shadow: 4px 0 2px #dad5d5, -4px 0 2px #dad5d5;
}

