
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 1400px){
  .container {
      max-width: 1320px;
  }

}
body {
    
  background-color: #f4f4f4;
  color: #777777;
  line-height: 18px;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: "Open Sans", sans-serif;
  color: #777777;
  overflow-x: hidden;
}


.account-area {
  padding: 50px 20px 50px 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
  background: #ffffff;
  -webkit-box-shadow: 4px 0 2px #dad5d5, -4px 0 2px #dad5d5;
          box-shadow: 4px 0 2px #dad5d5, -4px 0 2px #dad5d5;
}

.account-area .login-title {
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 30px;
}
.account-area .login-form{
  border: 1px solid #ddd;
  padding: 30px;
}
.account-area .login-form label {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  text-transform: capitalize;
  padding-left: 10px;
}

.account-area .login-form input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #999999;
  line-height: 23px;
  padding: 10px 20px;
  font-size: 14px;
  color: #444444;
  margin-bottom: 15px;
}
.account-area button{
  border: 1px solid #999999;
  background-color: #444444;
  line-height: 23px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;

}
.account-area button:hover{
  background-color: #f36b63;

}
.account-area .login-form input[type=checkbox] {
  width: auto;
}
.account-area a {
  width: 100%;
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}