@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


element.style {
    display: block;
}
.slick-dots {
    position: absolute;
    bottom: -17px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}